<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BT.Manage.DataAccess" version="1.0.0.11" targetFramework="net452" />
  <package id="BT.Manage.Frame.Base" version="1.0.0.93" targetFramework="net452" />
  <package id="BT.Manage.Redies" version="1.0.0.10" targetFramework="net452" />
  <package id="BT.Manage.Tools" version="1.0.0.47" targetFramework="net452" />
  <package id="jose-jwt" version="2.4.0" targetFramework="net452" />
  <package id="NLog" version="4.5.6" targetFramework="net452" />
  <package id="System.Web.Http" version="5.2.3" targetFramework="net452" />
</packages>