<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BT.Manage.Core" version="1.0.0.42" targetFramework="net452" />
  <package id="BT.Manage.Frame.Base" version="1.0.0.93" targetFramework="net452" />
  <package id="BT.Manage.Tools" version="1.0.0.47" targetFramework="net452" />
  <package id="NLog" version="4.5.6" targetFramework="net452" />
</packages>