<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RedisConfig" type="BT.Manage.Redies.RedisConfigInfo,BT.Manage.Redies" />
  </configSections>
  <RedisConfig WriteServerList="39.108.115.189:6379" ReadServerList="39.108.115.189:6379" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" DefaultDb="0" LocalCacheTime="720" RecordeLog="false" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>